{% extends 'main/base.html' %}
{% load static %}

{% block title %}Event Dashboard{% endblock %}
{% block content %}
<style>
    .card:hover{
        border-color:#FF6B35;
        box-shadow: 0 0 10px 2px #FF6B35;
    }
    .card{
        transition: all .5s;
    }
</style>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-3">
            <div class="card text-start text-white bg-secondary border-bottom border-primary my-3">
                <div class="row">
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <a href="" class="stretched-link"><img src="{% static 'admin/img/new_event_icon.png' %}" style="height: 100px; width:100px;"/></a>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title text-light">New Event</h5>
                            <p class="card-text">Create a new event</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if events %}
                {% for event in events %}
                    <div class="card text-start text-white bg-secondary border-bottom border-primary my-1">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <a href="{% url 'event_details' event.id %}" class="stretched-link"><img src="{{ event.event_picture.url }}" style="height: 100px; width:100px;"/></a>
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title text-light">{{ event.event_name }}</h5>
                                    <p class="card-text">{{ event.event_datetime}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}            
        </div>
        <div class="col-9 text-center">
            <h1 class="text-light text-center mb-5">Event Dashboard</h1>
            {% if events %}
                {% for event in events %}
                    {% if event.event_picture.url != '' %}
                        <img src="{{ event.event_picture.url }}" style="height: 100px; width:100px" />
                        EVENT
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}