{% extends 'main/base.html' %}

{% block title %}Event{% endblock %}
{% block content %}
<style>
    .card:hover{
        border-color:#FF6B35;
        box-shadow: 0 0 10px 2px #FF6B35;
    }
    .card{
        transition: all .5s;
    }
</style>
<div class="container">            
        <div class="row">
            <div class="card text-white bg-secondary border-primary shadow-lg mt-5" style="padding-left: 0;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ event.event_picture.url }}" class="img-fluid rounded-start">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h3 class="card-title text-light">{{ event.event_name }}</h3>
                      
                      <h5 class="card-title text-light">Event Description</h5>
                      <p class="card-text text-white">{{ event.event_description }}</p>
                      <p class="card-text text-white">{{ event.event_private_description }}</p>
                      <p class="card-text"><small class="text-white">{{ event.event_location }} - {{ event.event_website }}</small></p>

                      <h5 class="card-title text-light">Event Staff</h5>
                      <p class="card-text text-white">Organiser - <img src="{{ event.event_organiser.profile.profile_picture.url }}"  style="height: 40px; width:40px; padding:0px;"> - {{ event.event_organiser }}</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
</div>

{% endblock %}