
// required to get $orange variable
@import "../../../../node_modules/bootstrap/scss/_functions"; 
@import "../../../../node_modules/bootstrap/scss/_variables";

$dark: #001031;
$primary: #54caf8;
$info: #a3c8ff;
$light: #cbcbff;
$secondary: #3e3d81;
$danger: #ce3446;
$warning: #ff9b6d;
$success: #6bbd00;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
    "light": $light,
    "dark": $dark,
    "primary": $primary,
    "info": $info,
    "danger": $danger,
    "warning": $warning,
    "success": $success,
    "secondary": $secondary
));

$font-family-base: 'Red Hat Display', sans-serif;

// set changes
//@import "bootstrap";
@import "../../../../node_modules/bootstrap/scss/bootstrap";