
// required to get $orange variable
@import "../../../../node_modules/bootstrap/scss/_functions"; 
@import "../../../../node_modules/bootstrap/scss/_variables";

$dark: #002c4e;
$primary: #1A659E;
$info: #FF6B35;
$light: #F7C59F;
$secondary: #003e6d;
$danger: #DB324D;
$warning: #FF773D;
$success: #48BF84;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
    "light": $light,
    "dark": $dark,
    "primary": $primary,
    "info": $info,
    "danger": $danger,
    "warning": $warning,
    "success": $success,
    "secondary": $secondary
));

$font-family-base: 'Red Hat Display', sans-serif;

// set changes
//@import "bootstrap";
@import "../../../../node_modules/bootstrap/scss/bootstrap";