{% extends 'main/base.html' %}

{% block title %}Profiles{% endblock %}
{% block content %}
<style>
    .card:hover{
        border-color:#FF6B35;
        box-shadow: 0 0 10px 2px #FF6B35;
    }
    .card{
        transition: all .5s;
    }
</style>
<div class="container">
    <div class="col">
        <div class="row mt-5">
            <h1 class="text-light text-center">Profiles</h1>
        </div>
        <form class="row m-5"> 
            <div class="col-8">
                <input name="enquiry_id" id="enquiry_id" type="text" class="form-control" placeholder="Search for a profile here...">
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-outline-primary w-100">Search</button>
            </div>
                </div>
        </form>
                
        <div class="row row-cols-2">
            {% for profile in profiles %}
            <div class="col">
                <div class="card text-start text-white bg-secondary my-2">
                    <div class="row">
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <a href="{% url 'profile_details' profile.id %}" class="stretched-link"><img src="{{ profile.profile_picture.url }}" style="height: 100px; width:100px;"/></a>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title text-light">{{ profile.stage_name }}</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}