{% extends 'main/base.html' %}

{% block title %}Logged out{% endblock %}
{% block content %}    
    

    <div class="container">
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col">
                <h1 class="text-light text-center mb-5">Logged Out</h1>
                <p class="text-white text-center">You have been successfully logged out.</p>
                <p class="text-white text-center">You can <a href="{% url 'login' %}">log in again here</a>.</p>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}