{% extends 'main/base.html' %}

{% block title %}Change Password{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col">
                <h1 class="text-light text-center mb-5">Change Password</h1>
                <p class="text-light text-center">Use the form below to change your password.</p>
                <div class="login-form text-center">   
                    <form action="{% url 'password_change' %}" method = "post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <p><input style="border-radius: 20px; width: 200px; text-align:center" class="bg-secondary text-light mx-2" type="submit" value="Change"></p>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}